name: Pull Request
on: pull_request

env:
  SLN_FILE: Fabulous.AST.sln
  CONFIG: Release

jobs:
  pull_request:
    strategy:
      matrix:
        # Builds for Ubuntu, Windows, and macOS
        os: [ubuntu-latest, windows-latest, macOS-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout sources
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: CI
      run: dotnet fsi build.fsx
