name: Release
on:
  push:
    tags: ['[0-9]+.[0-9]+.[0-9]+', '[0-9]+.[0-9]+.[0-9]+-pre[0-9]+']
    paths-ignore: [ 'docs/**' ]

permissions: write-all

env:
  CONFIG: Release
  SLN_FILE: Fabulous.AST.sln
  JSON_FILE: extensions/Fabulous.AST.Json/Fabulous.AST.Json.fsproj
  BUILD_FILE: extensions/Fabulous.AST.Build/Fabulous.AST.Build.fsproj

jobs:
  release:
    runs-on: ubuntu-latest
    environment: nuget
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Extract version from tag
        uses: damienaicheh/extract-version-from-tag-action@v1.0.0
      - name: Set release version
        run: |
          if [ "${PRE_RELEASE}" == "" ]; then
            RELEASE_VERSION=${MAJOR}.${MINOR}.${PATCH}
          else
            RELEASE_VERSION=${MAJOR}.${MINOR}.${PATCH}-${PRE_RELEASE}
          fi
          echo "Release version is $RELEASE_VERSION"
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> "$GITHUB_ENV"
      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          validation_level: warn
          version: '${{ env.RELEASE_VERSION }}'
          path: ./CHANGELOG.md
      - name: Get Fabulous.AST.Json Changelog Entry
        id: json_changelog
        uses: mindsers/changelog-reader-action@v2
        with:
            validation_level: warn
            version: '${{ env.RELEASE_VERSION }}'
            path: extensions/Fabulous.AST.Json/CHANGELOG.md
      - name: Get Fabulous.AST.Build Changelog Entry
        id: build_changelog
        uses: mindsers/changelog-reader-action@v2
        with:
            validation_level: warn
            version: '${{ env.RELEASE_VERSION }}'
            path: extensions/Fabulous.AST.Build/CHANGELOG.md
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore
        run: dotnet restore ${SLN_FILE}
      - name: Build
        run: dotnet build ${SLN_FILE} -p:Version=${RELEASE_VERSION} -c ${CONFIG} --no-restore
      - name: Test
        run: dotnet test ${SLN_FILE} -p:Version=${RELEASE_VERSION} -c ${CONFIG} --no-build
      - name: Pack
        run: |
          dotnet pack ${SLN_FILE} -p:Version=${RELEASE_VERSION} -p:PackageReleaseNotes="${{ steps.changelog_reader.outputs.changes }}" -c ${CONFIG} --property PackageOutputPath=${PWD}/nupkgs
          dotnet pack ${JSON_FILE} -p:Version=${RELEASE_VERSION} -p:PackageReleaseNotes="${{ steps.json_changelog.outputs.changes }}" -c ${CONFIG} --property PackageOutputPath=${PWD}/nupkgs
          dotnet pack ${BUILD_FILE} -p:Version=${RELEASE_VERSION} -p:PackageReleaseNotes="${{ steps.build_changelog.outputs.changes }}" -c ${CONFIG} --property PackageOutputPath=${PWD}/nupkgs

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Packages
          path: nupkgs/
      - name: Push
        run: dotnet nuget push "nupkgs/*" -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_TOKEN }} --skip-duplicate
